<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <style>
        .top-buffer { margin-top:20px; }
    </style>
</head>
<body style="width: 100%">
<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="/">MindMe</a>
</nav>
<div class="container top-buffer">
{% block body %}
    <a class="btn btn-success float-right" href="{% url 'new-reminder' %}">New Reminder</a>
    <div class="row">
        <h1 class="col-md-12">Reminder List</h1>
        <div class="col-md-12 row">
        {% for reminder in object_list %}
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header">
                        {{ reminder }}
                    </div>
                    <div class="card-body">
                        <div>{{ reminder.date }}</div>
                    </div>
                    <div class="card-footer">
                    <div class="row">
                        <div class="col-md-6">
                            <a class="btn btn-primary" href="{% url 'view-reminder' reminder.id %}">View</a>
                        </div>
                        <div class="col-md-6 float-right">
                            <a class="btn btn-danger" href="{% url 'del-reminder' reminder.id %}">Delete</a>
                        </div>
                    </div>
                    </div>

                </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}
</div>

</body>
</html>